<%= form_for(@daten) do |f| %>
  <% if @daten.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daten.errors.count, "error") %> prohibited this daten from being saved:</h2>

      <ul>
      <% @daten.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="jumbotron">
  <div class="field">
    <%= f.label :was %><br>
    <%= f.text_field :was %>
  </div>
  <div class="field">
    <%= f.label :standort %><br>
    <%= f.text_field :standort %>
  </div>
  <div class="field">
    <%= f.label :wohin %><br>
    <%= f.text_field :wohin %>
  </div>
  <div class="field">
    <%= f.label :datum %><br>
    <%= f.datetime_select :datum %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
