
<% provide(:title, "Mitnehmgelegenheit finden") %>
<p id="notice"><%= notice %></p>

<h1>Listing Datens</h1>

<table>
  <thead>
    <tr>
      <th>Was</th>
      <th>Standort</th>
      <th>Wohin</th>
      <th>Datum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @datens.each do |daten| %>
      <tr>
        <td><%= daten.was %></td>
        <td><%= daten.standort %></td>
        <td><%= daten.wohin %></td>
        <td><%= daten.datum %></td>
        <td><%= link_to 'Show', daten %></td>
        <td><%= link_to 'Edit', edit_daten_path(daten) %></td>
        <td><%= link_to 'Destroy', daten, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daten', new_daten_path %>
